html {
  height: 100%;
  box-sizing: border-box;
}

body {
  height: 100%;
  margin: 0;
  font-family: "Nanum Myeongjo", serif;
}
.login__box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: white;
  z-index: 1;
}

.login__title {
  font-size: 3rem;
  font-weight: normal;
}

.login__kakao {
  width: 16%;
  border: none;
  outline: none;
  background-color: white;
  cursor: pointer;
  transition: all 200ms ease-in;
  display: flex;
  align-items: center;
  border-bottom: 3px solid yellow;
  justify-content: center;
  font-family: "Nanum Gothic Coding", monospace;
}

.login__kakao:hover {
  transform: scale(1.1);
}

.kakao__logo {
  width: 50px;
  height: 50px;
  margin-right: 0.5rem;
}
.kakao__desc {
  font-size: 1.3rem;
}
