<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ToDolist</title>

    <!-- font and weater api -->
    <link rel="stylesheet" href="./css/start.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&display=swap"
      rel="stylesheet"
    />

    <!-- script -->
    <script src="https://unpkg.com/axios/dist/axios.min.js" defer></script>
    <script src="./src/start.js" defer></script>
  </head>
  <body>
    <main class="login__box">
      <h1 class="login__title">what do you do today?</h1>
      <button class="login__kakao">
        <img class="kakao__logo" src="./img/kakologo.png" alt="login" />
        <span class="kakao__desc">카카오톡 로그인 하기</span>
      </button>
    </main>
  </body>
</html>
